---
const hover = "hover:text-red-800";
---
<nav class="  flex items-center justify-center  gap-8">
    <a href="" class={hover}>Work</a>
    <a href="" class={hover}>About</a>
    <a href="" class={hover}>Blog</a>
    <a href="" class={hover}>Contact</a>
</nav>
