---
import Logo from '../logo/logo.astro'
---
<section class=" mt-24 grid justify-center  ">
    <Logo body='Software Developer' title='EOMERGE' href={""} />
    <nav class="flex flex-col text-xl text-center mt-5">
        <a class="mb-" href="http://localhost:4321/">Work</a>
        <a class="mb-2" href="./about">About</a>
        <a class="mb-2" href="./blog">Blog</a>
        <a class="mb-2" href="./contact">Contact</a>
    </nav>
</section>