---

---

<section class="max-sm:flex-col my-40 items-center flex z-30">
  <div class="w-1/3 max-sm:mb-9">
    <h1 class="text-4xl font-bold">About</h1>
  </div>
  <div class="w-2/3 max-sm:w-full">
    <p>
      En este blog, exploraré las últimas tendencias y tecnologías en el
      desarrollo de software, con un enfoque particular en la programación en
      Java y C#, el desarrollo de aplicaciones web y móviles, y la
      implementación de soluciones en la nube utilizando Azure. Discutiremos
      desde la optimización de bases de datos y el diseño de arquitecturas
      escalables hasta las mejores prácticas en desarrollo ágil y DevOps.
    </p>
  </div>
</section>
