---
const orange = 'rgb(194 65 12 / var(--tw-bg-opacity))';

---
<section>
    <div class=" mt-20 grid grid-cols-2 gap-5 justify-center ">
        <h3 class={"pb-2 font-medium text-2xl max-sm:col-start-1 max-sm:col-end-3  row-end-4 row-start-1 "+ orange}>Recent Work</h3>
        <section class=" max-sm:col-start-1 max-sm:col-end-3 border-gray-500 border-b-2 flex pb-8 justify-between gap-10">
            <div class=" text-gray-400">
                <h4 class=" text-gray-200 font-bold text-2xl mb-4">Decodable.co</h4>
                <span>Brand Design</span>-
                <span>Web Design</span>-
                <span>Web Development</span>
            </div>
            <div>
                <button class="border rounded-full hover:bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill={"rgb(194 65 12 )"}>
                        <path d="M15.8301 15.4575L15.8301 18.1162L26.3612 18.1257L14.8873 29.5997L16.7729 31.4853L28.2469 20.0113L28.2563 30.5425L30.915 30.5425V15.4575H15.8301Z" fill={"rgb(194 65 12 / var(--tw-bg-opacity))"}/>
                    </svg>
                </button>
            </div>
        </section>        
    </div>    
</section>