---
import Layout from '../layouts/Layout.astro';
import HeaderAbout from '../components/headline/headerlineAbout.astro';
import Email from '../components/contact/email.astro';
import Jobs from '../components/cards/cardJobs.astro';
---

<Layout page="about" title="About Me">
  <main class="max-w-6xl mt-20 text-cyan-50 grid grid-cols-12">
    <section class="z-20 row-start-1 col-start-2 col-end-12 bg-transparent">
      <HeaderAbout
        title="Hi I’m Ángel Ortega, Software Developer."
        ,
        description="Soy un desarrollador de software con experiencia en el diseño y la implementación de sistemas robustos y escalables, utilizando lenguajes de programación como Java y C#, y frameworks como React y .NET. Mi enfoque técnico se centra en la creación de aplicaciones web y móviles de alto rendimiento, integrando tecnologías de front-end y back-end para desarrollar soluciones completas que responden eficazmente a las necesidades comerciales y operativas. | Experto en el manejo de bases de datos relacionales y no relacionales, tengo una sólida experiencia en la optimización de consultas SQL y el diseño de esquemas que soportan el procesamiento de grandes volúmenes de datos con alta disponibilidad y seguridad. En el entorno de cloud computing, implemento soluciones utilizando plataformas como Azure, facilitando la escalabilidad, la gestión de recursos y la integración continua mediante herramientas de CI/CD para mejorar los flujos de trabajo de desarrollo y despliegue. | Mi metodología de trabajo se basa en principios ágiles y DevOps, promoviendo la colaboración, la automatización de pruebas, la integración continua y el despliegue continuo para acelerar el ciclo de vida del desarrollo de software y garantizar la entrega de productos de software de calidad, mantenibles y adaptativos a los cambios rápidos en las tecnologías y requerimientos del mercado."
      />
      <Email email="aomergehg@gmail.com" />
      <Jobs />
    </section>
  </main>
</Layout>
