---
import Layout from '../layouts/Layout.astro';
import Headerline  from '../components/headline/headline.astro';
import Arrow from "../components/button/arrow.astro";
import Works from "../components/works.astro";
---

<Layout page='work' title="Run Porfolio">
	<main class=" max-w-6xl text-cyan-50 grid grid-cols-12">		
		<section class=" z-20 row-start-1 col-start-2 col-end-12 bg-transparent" >
			<Headerline title='Hello, I’m Mehmet Akif.' body='A senior-year design student who trying to specialize in 3D modeling & texturing.' />
			<Arrow />
			<Works />
		</section>
	</main>
</Layout>

