---
const Hover = "hover:text-gray-300";
---

<footer class=" mb-10 max-w-5xl text-gray-500 mt-52 flex justify-between w-full">
    <div class="w-1/2">
        <p>©  All rights oemerge <span> --- 2020</span> </p>        
    </div>
    <nav class="grid w-1/3 grid-cols-3 ">
        <a class={Hover} href="">Twiter</a>
        <a class={Hover} href="">LinkedIn</a>
        <a class={Hover} href="">Github</a>
    </nav>
</footer>