---
interface Props {
	title: string;
	body: string;
	href: string;
    Class: string | null;
    page: string;
}
import NavHeader from './navs/headerNav.astro'
import Logo from '../components/logo/logo.astro'

const { page, href, title, body, Class } = Astro.props;
---
<header class={ Class }>
    <section class="flex col-start-2 col-end-12 justify-between  w-full max-sm:justify-center  ">
        <Logo href={href} title={title} body={body} />
        <NavHeader page={page} />     
    </section>
</header>