---
import CardWork from "./cards/cardWork.astro";
import data from "./data/data.json";
const projects = data.projects;
---
<section class=" my-16">
    {
        projects.map((item, index) => {
            let i =  index + 1;
            return(
                <CardWork tags={item.tags} id={ i.toString() } title={item.title} body={item.description} image={item.image} href={Array.isArray(item.link) ? item.link[0] : item.link}/>
            )
        })
    }
</section>

