---
import LeftArrow from '../icons/leftArrow.astro';
import RigthArrow from '../icons/rigthArrow.astro';
import Tetris from '../Game/tetris.astro';
import Dino from '../Game/dino.astro';

interface Props {
  title: string;
  body: string;
}
const { title, body } = Astro.props;
const color = 'text-orange-500';
---

<script type="module">
  const $buttonLefth = document.getElementById('ArrowLeft');
  const $buttonRigth = document.getElementById('ArrowRight');

  $buttonLefth.addEventListener('click', () => {
    console.log('click');
    const slider = document.getElementById('ContentSlider');
    console.log(slider);
    slider.scrollLeft += 100;
  });

  $buttonRigth.addEventListener('click', () => {
    console.log('click');
    const slider = document.getElementById('ContentSlider');
    console.log(slider);
    slider.scrollLeft -= 100;
  });
</script>

<section
  class="border border-gray-500 h-[400px] mb-16 mt-16 rounded-lg grid grid-cols-12"
>
  <button id="ArrowLeft" class="flex items-center justify-center">
    <LeftArrow /></button
  >
  <div
      id="ContentSlider"
    class=" overflow-hidden col-start-2 col-end-12 justify-center items-center "
  >
  <section style="grid-template-columns: repeat(2, 100%);" class=" scrollbar-hide scroll overflow-x-scroll grid">
    <Tetris />
    <Dino />
  </section>
  </div>
  <button id="ArrowRight" class="flex items-center justify-center">
    <RigthArrow />
  </button>
</section>
