---

---

<section
  class="max-sm:h-screen w-full h-[600px] opacity-35 border-none overflow-hidden absolute top-0"
>
  <img
    class="h-screen w-[150%] max-ms:max-w-none object-cover"
    src="https://raw.githubusercontent.com/aomerge/MyProfolio/main/public/image/imag-about.jpg"
    alt=""
  />
  <!-- <video src="https://player.vimeo.com/video/463002999?title=0&portrait=0&byline=0&autoplay=1&muted=true" autoplay loop muted></video>    -->
</section>
